<% include partials/header %>
<script src="./assets/js/pageDeezerBrowserify.js"></script>
<body>
    <main>
        <section>
    <h1>Deviner</h1>
        <h2 class="titre">la fete est finie</h2>
        <h2 class="artist">Queen</h2>
        <article>
        <input type="text">
        <button type="submit" class="valider">Tester</button></article>
            </section>
    <section>
        <h1>Réponses</h1>
         <h2 id="track" style="opacity:0;">Track OK !!!</h2>
         <h2 id="artist" style="opacity: 0;">Artist OK !!!!</h2>
    </section>
    </main>
</body>


<% include partials/footer %>