<% include partials/header %>

<main>
    <section class="info">
        <h2>Blind Test</h2>
        <p>Quapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione.</p>
        <a href="https://github.com/WilliamLafarie/BlindTest">Check on Github</a>
    </section>

    <section class="team">
            <section>
                    <ul>
                        <li>Lucas Boilly</li>
                        <li>UX/UI designer</li>
                        <ol>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                            <li><a href="https://github.com/lucasboilly"><i class="fab fa-github"></i></a></li>
                        </ol>
                    </ul>
                </section>
                <section>
                    <ul>
                        <li>Raphaël Hor</li>
                        <li>Developer</li>
                        <ol>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                            <li><a href="https://github.com/rahor"><i class="fab fa-github"></i></a></li>
                        </ol>
                    </ul>
                </section>
                <section>
                        <ul>
                            <li>William Lafarie</li>
                            <li>Developer</li>
                            <ol>
                                <li><a href="https://williamlafarie.com/"><i class="fas fa-globe"></i></a></li>
                                <li><a href="https://github.com/WilliamLafarie"><i class="fab fa-github"></i></a></li>
                            </ol>
                        </ul>
                    </section>
    </section>
</main>

<% include partials/footer %>